:root{
    --main-text-color:white;
}
.toolbar {
    background: #22252f;
}


.mdl-layout__drawer {
    background: #1e222b;
}

#center {
    background: #393c44;
}

.headerbar-button {
	color: white;
}

#header-carnet i{
	color:white;
}
