.todo-list .mdl-checkbox{
    height: auto;
}

.todo-list{
    display:block;
    width: 100%;
}
.todo-list h3{
    font-size:16px;
    margin:0px;
    margin-bottom:10px;
}
.todo-list .todo-item-text{
    width: calc(100% - 50px);
    display: block;
    margin-left: 15px;
    margin-top:-5px;
    padding: 5px;
    border: rgba(128, 128, 128, 0.233) 1px solid;
}

.add-item{
    font-size:14px;
}
.remove-todo-list{
    float: right;
    cursor: pointer;
    margin-right:10px;

}
.todo-item-text:hover{
    cursor: text;
}

.todo-list .mdl-checkbox {
    width: calc(100% - 40px);

}
.move-item{
    float: left;
    margin-right: 7px;
    margin-top: 1px;

    font-size: 15px;
}

.move-item:hover {
    cursor: grab !important;
}

.grabbing {
    cursor: grabbing !important;
}
.remove-item{
    float: right;
    margin-right: 7px;
    cursor: pointer;
}

.done .todo-item-text {
    text-decoration: line-through;
    color: #888;
  }
.todo-item{
    margin-bottom: 10px;

}
.todo-list input{
    padding: 5px;

}
.todo-list-content{
    margin:auto;
    margin-top:0px;
    max-width: 600px;
    width:100%;  
}
.done .move-item{
    visibility: hidden;
}