body{

		height:100%;
		padding:0px;
		overflow-y:none;
		margin:0px;
		background:#E8EAF6;
	}
	#filebar .button{
		color:white;
		text-decoration:none;
	}
	#filebar{
		padding:3px;
		font-weight: bold;
	}
	#editorbar{
	
	}
	#editor{
	font-size : 20px;
		padding:20px;
		margin:0px;
		
	}
	[is="spi-toolbar"]{
	width:100%;
	background:#3F51B5;
		padding:3px;
		margin:0px;
			box-shadow:0px 7px 10px 0px grey;	
	}
	.blue500{
		background:#3F51B5;	
	}
    .quicknote-img{
    position:absolute;
    max-width:100%;
    max-height:100%;

    }
    #toolBar2{
		text-align:center;
		padding:3px;
		margin:0px;
			box-shadow:0px 7px 10px 0px grey;	
	}
    #text{
    0px solid transparent;
    
    
    }
    #center{
		height:100%;
		max-width:800px;
		margin: 0 auto;
		background:white;
		box-shadow:0px 3px 5px grey;	
    
    }
    #text:focus{
    outline: 0px solid transparent;
    }
     #text{
    outline: 0px solid transparent;
    }
    .intLink { cursor: pointer; }
    img.intLink { border: 0; }
    #toolBar1 select { font-size:10px; }
    #textdf {
    width: 540px;
    height: 200px;
    border: 1px #000000 solid;
    padding: 12px;
    overflow: scroll;
    }
    #textsd #sourceText {
    padding: 0;
    margin: 0;
    min-width: 498px;
    min-height: 200px;
    }
    .ui-content,
.ui-content #full-height-div { /* divs will inherit page's height */
  height: inherit;
}
    #editMode label { cursor: pointer; }
