body {
	height: 100%;
	padding: 0px;
	overflow: hidden;
	margin: 0px;
	background: rgb(255, 255, 255);
}

body,
html {
	line-height: initial;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.selectedButton {
	background-color: rgba(199, 196, 196, 0.452);
}

#loading {
	display: none;
	position: fixed;
	background: rgb(63, 81, 181,0.3);
	width: 100%;
	height: 100%;
	z-index: 10;
	box-shadow: 0px 7px 10px 0px grey;
}

#fullscreen-viewer {
	position: fixed;
	height: 100%;
	display: none;
	width: 100%;
	background: black;
	text-align: center;
	z-index: 10;
}

#fullscreen-viewer #fullimage {
	max-height: 100%;
	max-width: 100%;
	animation: fadein 1s;
	position: absolute;
	transition: margin-top 0.2s;
	transition: margin-left 0.2s;
}

#fullscreen-viewer #toolbar {
	position: absolute;
	color: white;
	right: 0px;
	background: rgba(29, 29, 29, 0.678);
	padding: 10px;
	width: 100%;
	text-align: right;
}

#fullscreen-viewer button {
	-webkit-app-region: no-drag;
	margin-left: 10px;
	color: white;
}

#filebar .button {
	color: white;
	text-decoration: none;
}

#media-list {
	display: inline;
}

.media {
	display: inline-block;
	max-height: 200px;
	margin: 10px;
	cursor: pointer;
}

.media-file {
	text-align: center;
	color: white;
	width: 100px;
	word-wrap: break-word;
}

.media img {
	max-height: 200px;
}

#filebar {
	padding: 3px;
	font-weight: bold;
}

#editorbar {}

#editor {
	font-size: 20px;
	padding: 20px;
	margin: 0px;
}

@media screen and (min-width: 769px) {
	#editor {
		padding-left: 70px;
		padding-right: 70px;
	}
}

[is="spi-toolbar"] {
	width: 100%;
	background: #3F51B5;
	padding: 3px;
	margin: 0px;
	box-shadow: 0px 7px 10px 0px grey;
}

.blue500 {
	background: #3F51B5;
}

.toolbar {
	background: rgb(63, 81, 181);
	overflow-x: auto;
	white-space: nowrap;
}

.quicknote-img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

#toolBar2 {
	text-align: center;
	padding: 3px;
	margin: 0px;
	box-shadow: 0px 7px 10px 0px grey;
}

#center {
	height: 100%;
	margin: 0 auto;
	background: white;
}

#text:focus {
	outline: 0px solid transparent;
}

#text {
	outline: 0px solid transparent;
}

.intLink {
	cursor: pointer;
}

img.intLink {
	border: 0;
}

#toolBar1 select {
	font-size: 10px;
}

#textdf {
	width: 540px;
	height: 200px;
	border: 1px #000000 solid;
	padding: 12px;
	overflow: scroll;
}

#textsd #sourceText {
	padding: 0;
	margin: 0;
	min-width: 498px;
	min-height: 200px;
}

.ui-content,
.ui-content #full-height-div {
	/* divs will inherit page's height */
	height: inherit;
}

#editMode label {
	cursor: pointer;
}

.mdl-layout__header {
	-webkit-app-region: drag;
}

.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__header button,
.mdl-layout__header .mdl-textfield {
	-webkit-app-region: no-drag;
}

button {
	-webkit-app-region: no-drag;
}

.headerbar-button {
	color: white;
}

body {
	-webkit-animation: 1s ease 0s normal forwards 1 fadein;
	animation: 1s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.mdl-dialog {
	top: 5px;
}

/* stars */

div.stars {
	width: 200px;
	display: inline-block;
}

input.star {
	display: none;
}

label.star {
	float: right;
	padding: 3px;
	font-size: 30px;
	color: #444;
	transition: all .2s;
}

label.checked {
	content: '★';
	color: #f4b942;
	transition: all .25s;
}

label.star:hover {
	transform: rotate(-15deg) scale(1.3);
}

label.star:before {
	content: '★';
}

#media-loading {
	display: none;
	height: 50px;
	width: 50px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: -25px;
}

/* hide chrome scrollbar */
div#container-button::-webkit-scrollbar {
	display: none;
}
#name-container{
	margin-top:5px;
}
#name-container label{
	padding-left: 40px;
	width: calc(100% - 40px);
}

#name-input{
	padding: 10px;
    padding-left: 40px;
	padding-right: 20px;
	width: calc(100% - 60px);
}

/*color*/

#note-color{
	margin-right:10px;
	margin-top:20px;
	margin-bottom:15px;
	margin-left:30px;

}
#note-color * {
	box-sizing: border-box;
}

#note-color input[type="radio"] {
	display: none;
}
#note-color input[type="radio"]:checked + label span{
	  border: 1px solid black;
}


#note-color label {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
	cursor: pointer;
  }

  #note-color label span {
	display: block;
	border-radius: 25px;
	width: 100%;
	height: 100%;
	transition: transform .2s ease-in-out;
  }

  #note-color .none{
	background: var(--note-none);
	border: 1px solid rgb(158, 158, 158);
  }

  #note-color .red{
	background: var(--note-red);
  }
  #note-color .orange{
	background: var(--note-orange);
  }
  #note-color .yellow{
	background: var(--note-yellow);
  }

  #note-color .green{
	background: var(--note-green);
  }
  #note-color .teal{
	background: var(--note-teal);
  }
  #note-color .blue{
	background: var(--note-blue);
  }
  #note-color .violet{
	background: var(--note-violet);
  }
  #note-color .purple{
	background: var(--note-purple);
  }
  #note-color .pink{
	background: var(--note-pink);
  }
  #note-color :hover span{
	  transform: scale(1.25); 
  }


/* Nextcloud */

#text {
	color: unset;
	cursor: text;
	font-family: unset;
	height: unset;
	width: 100%;
	margin: unset;
	padding: unset;
	font-size: inherit;
	background-color: unset;
	border: unset;
	outline: none;
	border-radius: unset;
}