body {
	height: 100%;
	padding: 0px;
	overflow: hidden;
	margin: 0px;
	background: rgb(255, 255, 255);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.selectedButton {
	background-color: rgba(199, 196, 196, 0.452);
}

#loading {
	display: none;
	position: fixed;
	background: rgb(63, 81, 181);
	width: 100%;
	height: 100%;
	z-index: 10;
	box-shadow: 0px 7px 10px 0px grey;
}

#fullscreen-viewer {
	position: fixed;
	height: 100%;
	display: none;
	width: 100%;
	background: black;
	text-align: center;
	z-index: 10;
}

#fullscreen-viewer #fullimage {
	max-height: 100%;
	max-width: 100%;
	animation: fadein 1s;
	position: absolute;
	transition: margin-top 0.2s;
	transition: margin-left 0.2s;
}

#fullscreen-viewer #toolbar {
	position: absolute;
	color: white;
	right: 0px;
	background: rgba(29, 29, 29, 0.678);
	padding: 10px;
	width: 100%;
	text-align: right;
}

#fullscreen-viewer button {
	-webkit-app-region: no-drag;
	margin-left: 10px;
	color: white;
}

#filebar .button {
	color: white;
	text-decoration: none;
}

#media-list {
	display: inline;
}

.media {
	display: inline-block;
	max-height: 200px;
	margin: 10px;
	cursor: pointer;
}

.media-file {
	text-align: center;
	color: white;
	width: 100px;
	word-wrap: break-word;
}

.media img {
	max-height: 200px;
}

#filebar {
	padding: 3px;
	font-weight: bold;
}

#editorbar {}

#editor {
	font-size: 20px;
	padding: 20px;
	margin: 0px;
}

[is="spi-toolbar"] {
	width: 100%;
	background: #3F51B5;
	padding: 3px;
	margin: 0px;
	box-shadow: 0px 7px 10px 0px grey;
}

.blue500 {
	background: #3F51B5;
}

.toolbar {
	background: rgb(63, 81, 181);
	overflow-x: auto;
	white-space: nowrap;
}

.quicknote-img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

#toolBar2 {
	text-align: center;
	padding: 3px;
	margin: 0px;
	box-shadow: 0px 7px 10px 0px grey;
}

#center {
	height: 100%;
	margin: 0 auto;
	background: white;
}

#text:focus {
	outline: 0px solid transparent;
}

#text {
	outline: 0px solid transparent;
}

.intLink {
	cursor: pointer;
}

img.intLink {
	border: 0;
}

#toolBar1 select {
	font-size: 10px;
}

#textdf {
	width: 540px;
	height: 200px;
	border: 1px #000000 solid;
	padding: 12px;
	overflow: scroll;
}

#textsd #sourceText {
	padding: 0;
	margin: 0;
	min-width: 498px;
	min-height: 200px;
}

.ui-content,
.ui-content #full-height-div {
	/* divs will inherit page's height */
	height: inherit;
}

#editMode label {
	cursor: pointer;
}

.mdl-layout__header {
	-webkit-app-region: drag;
}

.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__header button,
.mdl-layout__header .mdl-textfield {
	-webkit-app-region: no-drag;
}

button {
	-webkit-app-region: no-drag;
}

.headerbar-button {
	color: white;
}

body {
	-webkit-animation: 1s ease 0s normal forwards 1 fadein;
	animation: 1s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.mdl-dialog {
	top: 5px;
}