:root{
    --grid-bg: #fafafa;
    --header-bg: #fafafa;
    --header-text-color:black;
    --drag-bar-bg: rgb(63, 81, 181);
    --grid-button-shadow: 0 0px 0px 2px  rgb(86, 99, 173);
    --note-text-color: black;
    --note-bg: white;
    --note-bg-hover: white;
    --note-border: white;
    --note-border-hover: white;
    --note-shadow: 0 0px 0px 2px rgba(0, 0, 0, .14);
    --note-shadow-hover: 0 0px 0px 2px rgb(86, 99, 173);
    --carnet-icon-view-bg:rgb(36, 46, 100);
    --loading-view-bg:rgb(36, 46, 100);
    --fab-color: black;
}   

#drag-bar{
    background: var(--drag-bar-bg);
    width:100%;
    height:7px;
    -webkit-app-region: drag;
}

#grid-button-container{
    background: var(--fab-button-bg);
    box-shadow: var(--grid-button-shadow);
    border-top-left-radius: 5px;
    bottom:0;
    position: fixed;
    color: var(--fab-color)
}

body{
    font-family: Ubuntu;
    background: var(--grid-bg)
}

#carnet-icon-view{
    background: var(--carnet-icon-view-bg);
}

#loading-view{
    background: var(--loading-view-bg);
}

#page-container {
    background: var(--grid-bg);
}
.mdl-card__supporting-text{
    color:inherit;
}

.mdl-card{
    color:var(--note-text-color);
}

.mdl-card{
    line-height: 15px;

    background: var(--note-bg);
    box-shadow: var(--note-shadow);
    -webkit-transition: background-color 250ms linear, box-shadow 250ms linear;
    -ms-transition: background-color 250ms linear, box-shadow 250ms linear;
    transition: background-color 250ms linear, box-shadow 250ms linear;
}


.mdl-card:hover {
    background-color: var(--note-bg-hover);
    
    cursor: pointer;
}
.card-text{
    color:inherit;
}

.card-title {
    color:inherit;
}

.card-text {
    line-height: 1.6em;
}

.medium-text{
    line-height: 1.3em;
}

.big-text{
    line-height: 1em;
}

#search-bar{
    margin-left: calc(50% - 190px);
    color: var(--header-text-color);
}

.mdl-layout__header{
    box-shadow: unset;
}

.editor {
    position:absolute; 
    top:0px; 
    left:0px;
    display: none; 
    width:100%;
    z-index:100; 
    right:0;
    bottom:0;
}

@media (max-width: 900px) {
    #search-bar{
        margin-left: 0;
        width: calc(100% - 90px);
        max-width: 300px;
    }
    #drag-bar{
        display: none;
    }
}


@media (max-width: 550px) {
    #search-bar{
        margin-left: 0;
        width: calc(100% - 90px);
        max-width: 300px;
    }
    #minus-button{
        display:none;
    }
    #close-button{
        display:none;
    }
}

#sync-button{
    display: none;
}


.mdl-card.red{
    background: var(--note-red);
    box-shadow:none;
}
.mdl-card.orange{
    background: var(--note-orange);
    box-shadow:none;
}
.mdl-card.yellow{
    background: var(--note-yellow);
    box-shadow:none;
}

.mdl-card.green{
    background: var(--note-green);
    box-shadow:none;
}
.mdl-card.teal{
    background: var(--note-teal);
    box-shadow:none;
}
.mdl-card.blue{
    background: var(--note-blue);
    box-shadow:none;
}
.mdl-card.violet{
    background: var(--note-violet);
    box-shadow:none;
}
.mdl-card.purple{
    background: var(--note-purple);
    box-shadow:none;
}
.mdl-card.pink{
    background: var(--note-pink);
    box-shadow:none;
}

.mdl-card:hover{
    box-shadow: var(--note-shadow-hover);
}