<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spisoft.quicknote">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <service android:name=".noise.NoiseService" />

        <service android:name=".synchro.SynchroService" />
        <service
            android:name=".synchro.googledrive.MyDriveEventService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.drive.events.HANDLE_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FileManagerService"></service>


        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".synchro.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".HomeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service android:name=".FloatingService" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".serviceactivities.CropWrapperActivity"
            android:label="@string/title_activity_img_picker" />
        <activity
            android:name=".HelpAuthorizeFloatingWindowActivity"
            android:label="@string/title_activity_help_authorize_floating_window" />
        <activity
            android:name=".noise.NoiseSelector"
            android:label="@string/title_activity_noise_selector" />
        <activity
            android:name=".noise.NoisePlayer"
            android:label="@string/title_activity_noise_player" />
        <activity
            android:name="com.spisoft.sync.wrappers.googledrive.AuthorizeActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".intro.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme" />

        <service
            android:name=".databases.DBMergerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="com.spisoft.sync.synchro.SynchroService" />

        <activity android:name="com.spisoft.sync.account.AccountListActivity" />
        <activity android:name="com.spisoft.sync.account.AccountTypeActivity" />
        <activity
            android:name=".synchro.AccountConfigActivity"
            android:label="@string/title_activity_account_config"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>