.demo-card-wide.mdl-card {
    min-height: 0px;
    margin: 10px;
    cursor: pointer;
}


.mdl-card__supporting-text {
    padding-bottom: 0px !important;
    box-sizing: content-box !important;
}




.demo-card-wide>.mdl-card__title {
    color: black;
}

.packery-drop-placeholder {
    outline: 3px dashed #444;
    outline-offset: -6px;
    /* transition position changing */
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}


/* highlight drag & drop */


/* jQuery UI Draggable adds ui-draggable-dragging */

.ui-draggable-dragging,
.is-positioning-post-drag {
    background: #C90;
    z-index: 20000 !important;
    /* keep dragged item on top */
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}

body {
    background: #fafafa;
    position: relative;
}

#page-content {
    position: relative;
    margin: 0 auto;
}

#page-container {
}

#right-bar-text{
    margin-right:10px;
}

#grid-container {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: calc(100% - 15px);
    padding-top: 15px;
    overflow-y: auto;
}

.big-text {
    font-size: 40px;
}

.medium-text {
    font-size: 25px;
}

@media (min-width: 1314px) {
    #grid-container {
        max-width: 1074px;
        left: calc(50% - 537px);
    }
}

.card-title {
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    color: black;
    margin: 0px;
}

.card-text {
    line-height: initial;
    margin-bottom: 10px;
    margin-right: 20px;
    word-wrap: break-word;
    color: rgba(0,0,0,.87);
    
}

.card-title:hover {
    background: none;
}

.card-text:hover {
    background: none;
}

.mdl-layout__header {
}

.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__header button,
.mdl-radio,
.mdl-layout__header .mdl-textfield {
    -webkit-app-region: no-drag;
}

.card-more-button {
    top:5px;
    right: 0px;
    background: inherit !important;
    position: absolute !important;
}

.keyword {
    margin-right: 10px;
    margin-top: 3px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border: 1px rgba(119, 119, 119, 0.6) solid;
    border-radius: 5px;
}

.card-rating {
    margin-right: 10px;
    float: right;
}

.card-medias {
    margin-left: -20px;
    margin-right: -5px;
    background: black;
    border-radius: 2px;
}

.card-medias img {
    width: 100%;
}

#contextual-dialog .mdl-button {
    padding: 0 5px;
}


#firstrun {
    display: none;
    position: relative;
    margin: auto;
    top: 50%;
    margin-top: -270px;
    max-width: 500px;
    max-height: 500px;
    padding: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background: rgb(63, 81, 181);
    box-shadow: 0px 0px 10px grey;
    overflow-y: auto;
}



@media (max-width: 600px) {
    #firstrun {
        top: 0;
        margin-top: 0;
        max-width: 100%;
        max-height: calc(100% - 20px);
        overflow-y: auto;
    }
}
